/* Checkerboard background */
.checkerboard {
  background-image:
    linear-gradient(90deg, #00ff3b 50%, #ffa63b 50%),
    linear-gradient(#00ff3b 50%, #ffa63b 50%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  height: 100vh; /* fill screen */
  margin: 0;
}

.header-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 10; /* above the paragraph */
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;

  pointer-events: none; /* optional: text can't block clicks */
}