body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #012c5c; /* dark blue */
  color: #ffffff;
}

/*  inner padding for header & footer */
header,
footer {
  padding: 0.75rem 1rem;
}

/*  centers whole page */
main {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1.5rem 1rem 3rem;
}

/* header / nav layout  */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffe53b; 
  color: #111;

  position: sticky;   /* keeps nav bar stuck at the top */
  top: 0;             
  z-index: 1000; 
}

.logo {
  font-weight: 700;
}

.logo-img {
  height: 24px;
}

/* mobile menu button */ 
.nav-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

nav {
  display: none; /* hides nav links for mobile screen */
}

/* style for mobile navbar */ 
nav a {
  color: #111;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 0.9rem;
}

/*  main content  */
h1 {
  margin-top: 1.5rem;
  font-size: 2rem;
}

p {
  max-width: 40rem;
  line-height: 1.5;
}

/* carousel  */
.hero-image {
  margin: 1.5rem 0;
  width: 100%;
  max-width: 24rem;
  height: 12rem;
  background: #ffd3a3;      /* peach */
  border: 4px solid #ffe53b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
}

/* button */
.btn-primary {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: #ffe53b;
  color: #111;
  text-decoration: none;
  font-weight: 700;
  border-radius: 4px;
}

/* footer */
footer {
  text-align: center;
  font-size: 0.8rem;
  background: #001934;
}


.back-to-top {
  position: fixed;     /* fixed positioning */
  bottom: 1rem;
  right: 1rem;
  background: #ffe53b;
  color: #111;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}




/*  breakpoint - changes the css for mobile/tablet  */
@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }

  nav {
    display: flex; /* show nav links on tablet/desktop */
  }

  main {
    padding-top: 2rem;
  }
}